---
import Layout from "../layouts/Layout.astro";
// @ts-ignore
const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---

<Layout>
    <h1 class="animation"><span style="font-weight: 400;"><a href="/">Zaka</a>\</span>Blog</h1>
    <div class="bento">
        {
            allPosts.map((post: any) => (
                <a href={post.url}>
                    <div class="box bg-pst">
                        <p>
                            <esp>
                                <b>{post.frontmatter.titleES}</b>
                            </esp>
                            <eng>
                                <b>{post.frontmatter.titleEN}</b>
                            </eng>
                        </p>
                        <esp>
                            <p>{post.frontmatter.descriptionES}</p>
                        </esp>
                        <eng>
                            <p>{post.frontmatter.descriptionEN}</p>
                        </eng>
                    </div>
                </a>
            ))
        }
    </div>
</Layout>

<style>
    .bg-pst:hover {
        transform: scale(1.015) translateY(-10px);
    }
</style>
