---
import { Icon } from "astro-icon/components";

interface Props {
    url: string;
    boxClass: string;
    boxIcon?: {
        type: "image" | "svg";
        name: string;
    };
    labels?: string;
    name: string;
    desc?: {
        esp: string;
        eng: string;
    };
}

const { url, boxClass, boxIcon, labels, name, desc } = Astro.props;

const className: string = `animation ${boxClass}`;
const imageUrl: string = `https://zakahacecosas.github.io/assets/${boxIcon?.name}.webp`;
---

<a href={url} target="_blank" rel="noopener noreferrer">
    <box class={className}>
        {
            boxIcon ? (
                <div style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
                    {boxIcon.type === "svg" ? (
                        <>
                            <Icon name={boxIcon.name} width={35} height={35} />
                            <h2>{name}</h2>
                        </>
                    ) : (
                        <>
                            <img
                                src={imageUrl}
                                alt={name + " logo"}
                                width="40"
                                height="40"
                                loading="lazy"
                            />
                            <h2>{name}</h2>
                        </>
                    )}
                </div>
            ) : (
                <h2>{name}</h2>
            )
        }
        {
            desc && (
                <p>
                    <esp>{desc.esp}</esp>
                    <eng>{desc.eng}</eng>
                </p>
            )
        }
        {
            labels && (
                <div class="labeler">
                    {labels.split(",").map((label) => (
                        <div class="label">{label}</div>
                    ))}
                </div>
            )
        }
        {
            labels ? (
                <flex style="margin-top: 10px;">
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            ) : (
                <flex>
                    <p>GO</p>
                    <p>&LongRightArrow;</p>
                </flex>
            )
        }
    </box>
</a>
